@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/radiuses" as r;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.button {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;
    border-radius: r.$max;
    font-weight: 600;
    font-size: rem(28);
    line-height: 1.4;
    padding: 1rem 2.75rem;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
    z-index: 1;
    border: rem(1) solid transparent; 
    transition: color 0.3s ease, border-color 0.3s ease;

    img, svg {
        flex-shrink: 0;
        transition: transform 0.3s ease;
        margin-left: rem(10);
    }

    @include max-media(md) {
        padding: .75rem 2rem;
        font-size: rem(18);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: opacity 0.3s ease;
        opacity: 0;
    }
    
    &:hover, &.active {
        &::before {
            opacity: 1;
        }

        img, svg {
            transform: translateX(rem(5));
        }
    }

    &-white {
        color: c.$purple-dark;
        background-color: c.$white;
        border-color: c.$white; 
        &::before {
            background-color: c.$purple-dark;
        }
        &:hover {
            color: c.$white;
            border-color: c.$white;
        }
        &.text-red {
            color: c.$red;
            &::before {
                background-color: c.$red; 
            }
            &:hover {
                color: c.$white;
                border-color: c.$white;
            }
        }
        &.text-purple {
            color: c.$purple;
            &::before {
                background-color: c.$purple;
            }
            &:hover {
                color: c.$white;
                border-color: c.$white;
            }
        }
    }
    &-black {
        color: c.$white;
        background-color: c.$black;
        border-color: c.$black;
        &::before {
            background-color: c.$white;
        }
        &:hover {
            color: c.$purple-dark;
            border-color: c.$purple-dark; 
        }
    }
    &-bordered-black {
        color: c.$black;
        background-color: transparent;
        border-color: c.$black;
        &::before {
            background-color: c.$purple-dark;
        }
        &:hover {
            color: c.$white;
            border-color: c.$purple-dark;
        }
    }
    &-purple {
        color: c.$white;
        background-color: c.$purple;
        border-color: c.$purple;
        &::before {
            background-color: c.$white;
        }
        &:hover {
            color: c.$purple;
            border-color: c.$purple; 
        }
        &-darker {
            background-color: c.$purple-darker;
            border-color: c.$purple-darker;
            &::before {
                background-color: c.$white;
            }
            &:hover {
                color: c.$purple-darker;
                border-color: c.$purple-darker;
            }
        }
        &-dark {
            background-color: c.$purple-dark;
            border-color: c.$purple-dark;
            &::before {
                background-color: c.$white;
            }
            &:hover {
                color: c.$purple-dark;
                border-color: c.$purple-dark;
            }
        }
    }
    &-bordered-purple {
        color: c.$purple;
        background-color: transparent;
        border-color: c.$purple;
        &::before {
            background-color: c.$purple;
        }
        &:hover, &.active {
            color: c.$white;
            border-color: c.$purple;
        }
    }

    &-grey {
        border-color: c.$gray-light;
        color: c.$black;
        background-color: c.$gray-light;
        &::before {
            background-color: c.$black;
        }
        &:hover {
            color: c.$white;
            border-color: c.$black;
        }
    }

    &-noborder {
        border: 0 !important;
    }

    &-small {
        padding: .625rem 2rem;
        font-size: rem(24);
        @include max-media(md) {
            font-size: rem(20);
        }
    }

    &-link {
        padding: 0;
        background: none;
        border: none;
        color: c.$black;
        font-weight: 600;
        font-size: 1rem;
        overflow: visible;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .5rem;
        &::before {
            display: none;
        }
        &-plus {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(30);
            height: rem(30);
            border-radius: r.$circle;
            border: rem(1) solid c.$black;
            background-color: transparent;
            color: c.$black;
            font-size: rem(26);
            font-weight: 400;
            line-height: 1;
            transition: all 0.3s ease;
            position: relative;
            overflow: hidden;
            z-index: 1;
            span {
                display: block;
                margin-top: rem(-3);
            }
        }
        &:hover {
            color: c.$purple-dark;
            .button-link-plus {
                color: c.$white;
                background-color: c.$purple-dark;
                border-color: c.$purple-dark;
            }
        }
    }
    &-simple {
        font-size: rem(28);
        font-weight: 600;  
        text-underline-offset: rem(5);
        text-decoration-thickness: rem(3);
        @include max-media(md) {
            font-size: rem(22);
            text-underline-offset: rem(4);
            text-decoration-thickness: rem(2);
        }
        &:hover {
            color: c.$purple-dark;
        }
    }
}