@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/radiuses" as r;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.cta {
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.75rem;
        &-sidebyside {
            flex-wrap: nowrap;
            justify-content: space-between;
            .button {
                flex-shrink: 0;
            }
            @include max-media(lg) {
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
        }
        @include max-media(md) {
            flex-direction: column;
            text-align: center;
            gap: 1.75rem;
        }
    }

    &-title {
        margin: 0;
    }
}