@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/radiuses" as r;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.faq {
    &-list {
        max-width: rem(800);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    &-item {
        border-bottom: rem(1) solid rgba(c.$purple, .3);
        padding: 1rem 2rem;
        text-align: left;
        &:first-child {
            border-top: rem(1) solid rgba(c.$purple, .3);
        }
        @include max-media(md) {
            padding: .75rem 1rem;
        }
        &.active {
            .faq-item-question {
                color: c.$purple-dark;
                
                &-icon {
                    transform: rotate(45deg);
                }
            }
            .faq-item-answer-content {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.1s;
            }
        }
        &-question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            font-size: rem(20);
            line-height: 1.5;
            font-weight: 600;
            padding: .5rem 0;
            transition: all 0.25s ease-in-out;
            position: relative;
            z-index: 2;
            color: c.$purple-dark;
            background-color: c.$white;
            gap: 2rem;
            @include max-media(md) {
                font-size: rem(18);
            }
            &-icon {
                font-size: rem(30);
                font-weight: 300;
                line-height: 1;
                transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s ease;
                user-select: none;
            }
            &:hover {
                color: c.$purple-dark;
            }
        }
        &-answer {
            height: 0;
            overflow: hidden;
            transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            &-content {
                padding-top: .75rem;
                padding-bottom: 0;
                padding-right: 2rem;
                opacity: 0;
                transform: translateY(rem(15));
                transition: opacity 0.4s ease, transform 0.4s ease;
                @include max-media(md) {
                    padding-right: 1rem;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}