@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/radiuses" as r;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.form {
    &-inputbox {
        display: block;
        width: 100%;
        margin-top: .5rem;
            text-align: left;
        @include max-media(md) {
            margin-top: .75rem;
        }
        span {
            font-size: 0.875rem;
            color: c.$gray;
            margin-left: .75rem;
            margin-bottom: .375rem;
            display: block;
        }
        input, select {
            display: flex;
            align-items: center;
            width: 100%;
            height: 3.75rem;
            padding: 1rem 1.25rem;
            border: rem(1) solid c.$gray;
            border-radius: r.$small;
            font-size: 1.125rem;
            font-weight: 600;
            color: c.$black;
            &, &::placeholder {
                transition: all .25s ease-in-out;
            }
            &:hover, :focus {
                border-color: c.$black;
            }
            &:focus::placeholder {
                color: c.$gray;
            }
        }
        &-number {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 1.25rem;
                bottom: 1.25rem; 
                width: 1.25rem;
                height: 1.25rem;
                background-image: url("../img/icon/icon-input-number.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                pointer-events: none; 
                transition: transform 0.3s ease;
            }
        }
        select {
            background-color: c.$white;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
            padding-right: 3rem;
            &:-moz-focusring {
                color: transparent;
                text-shadow: 0 0 0 c.$black;
            }
        }
        &-select {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 1.25rem;
                bottom: 1.25rem; 
                width: 1.25rem;
                height: 1.25rem;
                background-image: url("../img/icon/icon-dropdown.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                pointer-events: none; 
                transition: transform 0.3s ease;
            }
            &:has(select:focus)::after {
                transform: rotate(180deg);
            }
        }

    }
    &-twocol {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
        @include max-media(lg) {
            grid-template-columns: minmax(0, 1fr);
            gap: 0;
        }
    }
}