@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/radiuses" as r;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.limited {
    position: relative;
    overflow: hidden;
    margin-top: .5rem;

    &-image {
    position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 2/1;
            min-height: rem(600);
            max-height: rem(1200);
            @include max-media(md) {
                min-height: rem(500);
            }
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(c.$red, 0) 40%, rgba(c.$red, 0.85) 80%, rgba(c.$red, 1) 95%);
            @include max-media(md) {
                background: linear-gradient(90deg, rgba(c.$red, 0) 15%, rgba(c.$red, 1) 100%);
            }
        }
    }

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &-inner {
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @include max-media(lg) {
                text-align: center;
                align-items: center;
            }
        }
        &-subtitle {
            font-family: f.$museo;
            display: block;
            font-size: rem(26);
            line-height: 1.4;
            font-weight: 600;
            margin-bottom: 2rem;
            color: rgba(c.$white, .7);
            @include max-media(md) {
                margin-bottom: 1rem;
                font-size: rem(22);
            }
        }
        &-title {
            max-width: rem(450);
            margin: 0 0 2.75rem;
            color: c.$white;
            @include max-media(md) {
                margin: 0 0 1.75rem;
                font-size: rem(42);
                max-width: 100%;
            }
        }
    }
}