@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/radiuses" as r;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.news {
    &-title {
        max-width: rem(450);
        @include max-media(lg) {
            max-width: 100%;
        }
    }
    &-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 2.25rem;
        margin: 0 -4rem;
        @include max-media(xxl) {
            margin: 0;
        }
        @include max-media(xl) {
            grid-template-columns: 1fr;
        }
        @include max-media(sm) {
            gap: 1.25rem;
        }
    }
    &-item {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
        color: c.$black;
        background-color: c.$gray-light;
        border-radius: r.$medium;
        overflow: hidden;
        @include max-media(xl) {
            flex-direction: row;
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
        @include max-media(md) {
            &, &:nth-child(even) {
                flex-direction: column;
            }
        }
        &-image {
            width: 100%;
            aspect-ratio: 1/1;
            overflow: hidden;
            @include max-media(xl) {
                width: 350px;
                flex-shrink: 0;
            }
            @include max-media(md) {
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .25s ease-in-out;
            }
            &:hover img {
                transform: scale(1.05);
            }
        }
        &-content {
            padding: 3rem;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            @include max-media(md) {
                padding: 2rem;
            }
            &-title {
                transition: all .25s ease-in-out;
                font-size: rem(30);
                letter-spacing: rem(-.75);
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin: 0 0 1.75rem;
                @include max-media(md) {
                    font-size: rem(22);
                    letter-spacing: rem(-.5);
                    margin: 0 0 1.25rem;
                }
                a {
                    text-decoration: none;
                    &:hover {
                        color: c.$purple-dark;
                    }
                }
            }
            p {
                font-size: 1rem;
                line-height: 1.6;
                margin-bottom: 1.75rem;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                @include max-media(md) {
                    margin-bottom: 1.25rem;
                }
            }
            .button-link {
                margin-top: auto;
                @include max-media(md) {
                    margin: 0 auto;
                }
            }
        }
    }
}