@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/radiuses" as r;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.textbox {
    &-header {
        @include min-media(lg) {
            margin-bottom: 0;
        }
        @include max-media(lg) {
            text-align: left;
        }
    }
    &-title {
        &-blue {
            color: c.$purple-dark;
            max-width: rem(500);
            @include max-media(lg) {
                margin: 0 auto;
            }
        }
        &-width {
            max-width: rem(800);
        }
        &-right {
            text-align: right;
            margin-left: auto;
            @include max-media(lg) {
                text-align: left;
                margin-left: 0;
            }
        }
        @include max-media(lg) {
            text-align: left;
        }
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        @include max-media(lg) {
            gap: 6rem;
        }
        @include max-media(md) {
            gap: 3rem;
        }
    }
    &-image {
        &-right img {
            margin-left: auto;
        }
        &-spacing-large {
            margin-bottom: 7.5rem;
            @include max-media(md) {
                margin-bottom: 3rem;
            }
        }
        img {
            aspect-ratio: 16/9;
            object-fit: cover;
            max-width: rem(650);
            height: auto;
            @include max-media(lg) {
                max-width: 100%;
            }
        }
        &-pushed-top {
            margin-top: -2.5rem;
            @include max-media(lg) {
                margin-top: 4.5rem;
            }
            @include max-media(md) {
                margin-top: 3rem;
            }
        }
    }
    &-item {
        max-width: rem(696);
        &-swapsides {
            &:nth-child(odd) {
                @include min-media(lg) {
                    text-align: right;
                    margin-left: auto;
                    ul {
                        li {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
        &-stretched {
            margin-top: -4.5rem;
            @include max-media(lg) {
                margin-top: 0;
            }
        }
        &-title {
            margin-bottom: .75rem;
            margin-top: 0;
        }
        &-subtitle {
            display: block;
            margin-bottom: 1rem;
            font-weight: 600;
        }
        &-content {
            &:not(:first-child) {
                margin-top: 2rem;
                @include max-media(md) {
                    margin-top: 1.5rem;
                }
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
        &-button {
            margin-top: 3rem;
            &-large {
                margin-top: 3.75rem;
            }
            &-small {
                margin-top: 1.75rem;
            }
            @include max-media(md) {
                margin-top: 2rem;
                &-large {
                    margin-top: 2.5rem;
                }
            }
        }
    }
}