@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

::selection {
    background-color: c.$purple-dark;
    filter: opacity(.75);
    color: c.$white;
}
* {
    box-sizing: border-box;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    overflow-x: hidden;
    background-color: c.$white;
    color: c.$black;
    font-family: f.$yellix;
    font-size: rem(18);
    font-weight: 400;
    line-height: 1.6;
    @include max-media(lg) {
        font-size: rem(16);
    }
}
a {
    transition-duration: .15s;
    text-decoration: none;
    color: c.$black;
    text-decoration: underline;
    text-underline-offset: rem(3);
    &:hover {
        color: c.$purple-dark;
    }
}
.no-scroll {
  overflow: hidden;
}
.body {
    ul {
        list-style: none;
    }
    ol {
        list-style:decimal;
        padding-left: 1.25rem;
    }
    ul {
        li {
            width: fit-content;
            position: relative;
            padding-left: 1rem;
            &::before {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                background-color: c.$black;
                height: rem(1);
                width: .5rem;
                margin-top: .925rem;
                flex-shrink: 0;
                margin-right: .5rem;
            }
        }
    }
    ul, ol {
        margin-bottom: 2rem;
        @include max-media(lg) {
            text-align: left;
        }
    }
}
h1,h2,h3,h4,h5,h6, .as-h1, .as-h2, .as-h3, .as-h4, .as-h5 {
    color: c.$black;
    font-family: f.$yellix;
    line-height: 1.15;
    font-weight: 600;
}
h1, .as-h1 {
    font-size: rem(100);
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.05;
    letter-spacing: rem(-2);
    @include max-media(xxl) {
        font-size: rem(80);
    }
    @include max-media(lg) {
        font-size: rem(60);
    }
    @include max-media(sm) {
        font-size: rem(40);
    }
}
h2, .as-h2 {
    font-size: rem(80);
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    letter-spacing: rem(-1.5);
    @include max-media(xxl) {
        font-size: rem(70);
    }
    @include max-media(md) {
        font-size: rem(34);
        line-height: 1.2;
        margin-top: 2.5rem;
        margin-bottom: 1.75rem;
    }
}
h3, .as-h3 {
    font-size: rem(60);
    margin-top: 3.5rem;
    margin-bottom: 2.25rem;
    letter-spacing: rem(-1.25);
    @include max-media(xxl) {
        font-size: rem(50);
    }
    @include max-media(md) {
        font-size: rem(28);
        line-height: 1.2;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }
}
h4, .as-h4 {
    font-size: rem(40);
    margin-top: 3.5rem;
    margin-bottom: 2.25rem;
    letter-spacing: rem(-1);
    @include max-media(md) {
        font-size: rem(24);
        line-height: 1.2;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }
}
h5, .as-h5, h6 {
    font-size: rem(30);
    margin-top: 3.5rem;
    margin-bottom: 1.75rem;
    letter-spacing: rem(-.75);
    @include max-media(md) {
        font-size: rem(22);
        letter-spacing: rem(-.5);
        line-height: 1.2;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }
}
@include min-media(lg) {
    .as-lg-h4 {
        font-size: rem(40);
        margin-top: 3.5rem;
        margin-bottom: 2.25rem;
        letter-spacing: rem(-1);
    }
    .as-lg-h5 {
        font-size: rem(30);
        margin-top: 3.5rem;
        margin-bottom: 1.75rem;
        letter-spacing: rem(-.75);
    }
}
p {
    margin-bottom: 2rem;
    @include max-media(md) {
        margin-bottom: 1.5rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
strong, b {
    font-weight: 600;
    color: c.$primary;
}
iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
table {
    width: 100%;
    overflow-y: scroll;
    &:not(:first-child) {
        margin-top: 3.5rem;
    }
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
    tr {
        & > th {
            background-color: c.$purple-dark !important;
            padding: 1rem 1.5rem;
            border: 0;
            color: c.$white;
            font-weight: 700;
        }
        & > td {
            background-color: c.$white;
            padding: 1rem 1.5rem;
            border: 0;
        }
        &:nth-child(even) > td {
            background-color: c.$purple-light;
        }
        &:not(:last-child) > td {
            border-bottom: 0 !important;
        }
    }
}
.container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    @include min-media(xxl) {
        max-width: 1200px;
    }
    &-extended {
        margin: 0 -7.5rem;
        @media only screen and (max-width: 1600px) {
            margin: 0 -2rem;
        }
        @include max-media(xxl) {
            margin: 0;
        }
    }
}