@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/radiuses" as r;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.footer {
    background-color: c.$purple-dark;
    color: c.$white;
    padding: rem(60) 0 rem(30);
    font-family: sans-serif; 

    a {
        text-decoration: none;
        color: c.$white;
        transition: color 0.3s ease, opacity 0.3s ease;
        opacity: 0.8;

        &:hover {
            opacity: 1;
            color: c.$blue;
        }
    }

    &-socials {
        border-bottom: rem(1) solid rgba(c.$white, 0.1);
        padding-bottom: r.$medium;
        margin-bottom: r.$large;

        &-wrapper {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: rem(15);
            justify-content: flex-start;

            @media (min-width: rem(992)) {
                justify-content: flex-end;
            }

            li {
                display: block;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(40);
            height: rem(40);
            border-radius: r.$circle;
            background-color: rgba(c.$white, 0.1);
            transition: background-color 0.3s ease;

            img {
                width: rem(20);
                height: rem(20);
                filter: invert(1) brightness(2); 
            }

            &:hover {
                background-color: c.$blue;
                opacity: 1;
            }
        }
    }

    &-wrapper-top,
    &-wrapper-bottom {
        display: flex;
        flex-direction: column;
        gap: r.$large;

        @media (min-width: rem(992)) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &-wrapper-bottom {
        margin-top: r.$large;
        padding-top: r.$large;
        border-top: rem(1) solid rgba(c.$white, 0.1);
        
        @media (min-width: rem(992)) {
            align-items: center;
        }
    }

    &-support {
        h3 {
            font-size: rem(18);
            font-weight: 600;
            margin-bottom: r.$medium;
            text-transform: uppercase;
            color: c.$white;
        }

        p {
            margin-bottom: rem(10);
            color: c.$gray-light;
            opacity: 0.8;
            
            a {
                font-weight: 500;
                opacity: 1;
                color: c.$white;
            }
        }
    }

    &-menu {
        display: flex;
        flex-wrap: wrap;
        gap: r.$large;

        @media (min-width: rem(768)) {
            gap: rem(80);
        }

        &-col {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: rem(12);
            padding: 0;

            li {
                a {
                    font-size: rem(16);
                    display: inline-block;
                    
                    &:hover {
                        transform: translateX(rem(5));
                    }
                }
            }
        }
    }

    &-logo {
        max-width: rem(150);
        
        img {
            width: 100%;
            height: auto;
            filter: brightness(0) invert(1);
        }
    }

    &-newsletter {
        width: 100%;
        max-width: rem(450);

        &-text {
            margin-bottom: rem(15);
            font-size: rem(14);
            color: c.$gray-light;
            opacity: 0.8;
        }

        &-form {
            display: flex;
            position: relative;
            width: 100%;

            &-input {
                width: 100%;
                padding: rem(15) rem(20);
                padding-right: rem(130);
                border-radius: r.$max;
                border: rem(1) solid rgba(c.$white, 0.2);
                background-color: rgba(c.$white, 0.05);
                color: c.$white;
                font-size: rem(14);
                outline: none;
                transition: border-color 0.3s ease;

                &::placeholder {
                    color: rgba(c.$white, 0.4);
                }

                &:focus {
                    border-color: c.$blue;
                    background-color: rgba(c.$white, 0.1);
                }
            }

            &-button {
                position: absolute;
                top: rem(5);
                right: rem(5);
                bottom: rem(5);
                padding: 0 rem(25);
                background-color: c.$blue;
                color: c.$white;
                border: none;
                border-radius: r.$max;
                font-weight: 600;
                font-size: rem(14);
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: lighten(c.$blue, 10%);
                }
            }
        }
    }
}