@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/radiuses" as r;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.footer {
    background-color: c.$purple-dark;
    color: c.$white;
    margin: 0 2rem 2rem;
    border-radius: 0 0 r.$medium r.$medium;
    @include max-media(lg) {    
        margin: 0 1.25rem 1.25rem;
    }
    a {
        text-decoration: none;
        color: c.$white;
    }
    &-inner {
        position: relative;
        padding: 10rem 0;
        @include max-media(lg) {
            padding: 7.5rem 0;
        }
        @include max-media(md) {
            padding: 3.5rem 0;
        }
    }
    &-socials {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        transform: translateY(-50%);
        @include max-media(lg) {
            position: unset;
            width: fit-content;
            margin: 0 auto 4rem;
            transform: none;
        }
        @include max-media(md) {
            margin-bottom: 3rem;
        }
        &-wrapper {
            display: block;
            background-color: c.$white;
            border-radius: r.$max;
            padding: 1.25rem 2rem;
            display: flex;
            gap: .75rem;
            justify-content: flex-start;
            @include max-media(md) {
                padding: .75rem 1.25rem;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: r.$circle;
            background-color: rgba(c.$white, 0.1);
            img {
                width: 3rem;
                height: 3rem;
                transition: all 0.25s ease-in-out;
                @include max-media(md) {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            &:hover {
                img {
                    scale: 1.175;
                }
            }
        }
    }
    &-wrapper-top,
    &-wrapper-bottom {
        display: flex;
        justify-content: space-between;
        gap: r.$large;
    }
    &-wrapper-top {
        padding-left: 7.5rem;
        @include max-media(xxl) {
            padding-left: 0;
        }
        @include max-media(lg) {
            flex-direction: column;
            gap: 3rem;
        }
    }
    &-wrapper-bottom {
        margin-top: 4.5rem;
        @include max-media(xl) {
            flex-direction: column;
            margin-top: 6rem;
        }
        @include max-media(lg) {
            margin-top: 3rem;
        }
    }
    &-support {
        h3 {
            color: c.$white;
            margin-top: 0;
        }
        p {
            margin-bottom: .75rem;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                position: relative;
                font-weight: 500;
                opacity: 1;
                color: c.$white;
                display: flex;
                align-items: center;
                width: fit-content;
                @include max-media(lg) {
                    margin: 0 auto;
                }
                svg {
                    width: 1.5rem;
                    height: 1.25rem;
                    max-width: 0;
                    opacity: 0;
                    margin-right: 0;
                    transform: translateX(rem(-10));
                    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: rem(-2);
                    left: 0;
                    transition: all 0.25s ease-in-out;
                    background-color: c.$white;
                    height: 0.0625rem;
                    width: 0;
                }
                &:hover {
                    color: c.$white;
                    svg {
                        max-width: 1.5rem;
                        opacity: 1;
                        margin-right: .25rem;
                        transform: translateX(0);
                    }
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
    &-menu {
        display: flex;
        flex-wrap: wrap;
        gap: r.$large;
        gap: 3.5rem;
        margin-top: -3.5rem;
        @include max-media(lg) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            margin-top: 0rem;
            gap: 3rem;
        }
        @include max-media(md) {
            gap: 2.5rem;
        }
        &-col {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: .5rem;
            padding: 0;
            @include max-media(lg) {
                align-items: center;
            }
            li {
                a {
                    display: block;
                    width: fit-content;
                    padding: 0.125rem 0.375rem;
                    margin: 0 -0.375rem;
                    transition: all .25s ease-in-out;
                    background-size: 100% 202%;
                    background-image: linear-gradient(to bottom, transparent 50%, c.$purple-light 50%);
                    &:hover {
                        background-position: 0 100%;
                        color: c.$white;
                    }
                }
            }
            &:first-child {
                text-align: right;
                align-items: flex-end;
                @include max-media(lg) {
                    text-align: center;
                    align-items: center;
                }
                a {
                    color: c.$purple-light;
                }
            }
        }
    }
    &-logo {
        max-width: rem(600);
        @include max-media(xxl) {
            max-width: rem(450);
        }
        @include max-media(xl) {
            margin: 0 auto;
        }
        @include max-media(lg) {
            margin-bottom: 3rem;
        }
        @include max-media(md) {
            max-width: rem(300);
        }
        @include max-media(sm) {
            max-width: rem(250);
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    &-newsletter {  
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &-title {
            display: block;
            text-align: center;
            color: c.$purple-light;
            font-weight: 600;
            margin-bottom: 1.5rem;
            @include max-media(lg) {
                color: c.$white;
            }
        }
        &-form {
            display: flex;
            position: relative;
            width: rem(540);
            @include max-media(xxl) {
                width: rem(500);
            }
            @include max-media(xl) {
                margin: 0 auto;
            }
            @include max-media(md) {
                width: 100%;
            }
            &-input {
                width: 100%;
                padding: 1.375rem 2rem;
                border-radius: r.$small 0 0 r.$small;
                border: rem(1) solid c.$purple;
                background-color: transparent;
                color: c.$white;
                outline: none;
                transition: all .25s ease-in-out;
                &::placeholder {
                    color: rgba(c.$purple-light, .75);
                }
                &:focus {
                    background-color: rgba(c.$white, 0.05);
                }
                @include max-media(md) {
                    padding: 1.25rem 1rem;
                    font-size: 1rem;
                }
            }
            &-button {
                padding: 1rem 2.25rem;
                background-color: c.$purple;
                color: c.$purple-dark;
                font-weight: 600;
                font-size: 1.75rem;
                line-height: 1.4;
                border: none;
                border-radius: 0 r.$small r.$small 0;
                font-weight: 600;
                cursor: pointer;
                transition: all .25s ease-in-out;
                svg {
                    width: 2.25rem;
                    height: 2.25rem;
                }
                @include max-media(md) {
                    padding: .75rem;
                }
                &:hover {
                    background-color: c.$white;
                }
            }
        }
    }
}