@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/radiuses" as r;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.header {
    width: 100%;
    background-color: c.$white;
    @include min-media(xxxl) {
        .container-fluid {    
            max-width: calc(1200px + 15rem);
            
        }
    }
    &-wrapper {
        position: relative;
        padding: 1.5rem 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        @include max-media(lg) {
            padding: .5rem .5rem;
        }
    }
    &-logo-link, &-menu, &-toggler {
        position: relative;
        z-index: 1;
    }
    &-logo {
        height: 3rem;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            left: -3.5rem;
            width: 22.5rem;
            background-image: url("../../img/logo/logo-light-small.svg");
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 0;
        }
        &-link {
            text-decoration: none;
            font-family: f.$oglivy;
            color: c.$white !important;
            font-size: rem(30);
            font-weight: 500;
            padding: 0;
        }
    }
    &-menu {
        margin-left: auto;
        ul {
            display: flex;
            align-items: center;
            gap: 2rem;
            a {
                font-family: f.$oglivy;
                text-decoration: none;
                display: block;
                color: c.$black;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: rem(1);
                    background: c.$purple-dark;
                    transition-duration: .25s;
                }
                &:hover, &.active {
                    color: c.$purple-dark;
                    &::after {
                        width: 100%;
                    }
                    @include max-media(lg) {
                        color: c.$white;
                        &::after {
                        background: c.$white;
                        }
                    }
                }
            }
        }
        &-close {
            display: none;
        }
        ul &-lang {
            margin-left: 2rem;
            background-color: c.$purple;
            border-radius: r.$medium;
            display: flex;
            padding: .5rem .875rem;
            gap: 1rem;
            @include max-media(lg) {
                margin-left: 0;
            }
            a {
                line-height: 1;
                &::after {
                    content: none;
                }
                &:not(:first-child) {
                    &::before {
                        content: "";
                        width: rem(2);
                        height: 100%;
                        position: absolute;
                        left: -.5rem;
                        top: 0;
                        background-color: c.$white;
                    }
                }
                &:not(.current) {
                    color: rgba(c.$white, .5);
                }
                &, &:hover {
                    color: c.$white;
                }
            }
        }
        @include max-media(lg) {
            transition: all 0.375s;
            position: fixed;
            background: c.$purple-dark;
            top: 0;
            bottom: 0;
            right: 0;
            width: rem(350);
            height: 100dvh;
            z-index: 9999;
            display: flex !important;
            align-items: center;
            justify-content: center;
            padding: 1.25rem;
            transform: translateX(100%);
            margin: 0;
            overflow-x: hidden;
            overflow-y: auto;
            @include max-media(sm) {
                width: rem(225);
            }
            &.active {    
                transform: translateX(0);
            }    
            ul {
                flex-direction: column;
                gap: 1rem;
                a {
                    color: c.$white;
                    font-size: rem(20);
                }
            }
            &-close {
                display: block;
                color: c.$white;
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 2rem;
                height: 2rem;
                &:hover {
                    color: c.$white;
                    opacity: .5;
                }
            }
        }
    }
}