// Theme colors
$white: #fefefe;
$black: #030609;
$purple-dark: #3a3080;
$purple-darker: #4d4683;
$purple: #7b76a2;
$purple-light: #7b76a3;
$red: #dd786a;
$red-dark: #c52020;
$green: #8bc3a7;
$blue: #78c9d9;
$gray: #9c9b9b;
$gray-light: #eaeaeb;
$orange: #edb578;

// Main colors
$background: $white;
$primary: $black;