@use "sass:map";
@use "breakpoints";

@mixin max-media($breakpoint) {
    @media only screen and (max-width: map.get(breakpoints.$map, $breakpoint)) {
        @content;
    }
}
@mixin min-media($breakpoint) {
    @media only screen and (min-width: map.get(breakpoints.$map, $breakpoint)) {
        @content;
    }
}